// Fonts

$main-font-stack: "Lato", Arial, sans-serif;
$font-bold: 700;
$font-regular: 400;
$body-color: #555;
$name-color: #333;

// Colors

$outline-color: #dfdfdf;
$background-color: #fcfcfc;

// Breakpoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;