$img-extra-size: 8px; // Defines how much the profile picture beyond the information

.user-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  grid-template-rows: $img-extra-size repeat(3, auto) $img-extra-size;
  grid-template-areas:
    "photo ."
    "photo name"
    "photo email"
    "photo location"
    "photo .";

  @extend .card-style;
  padding: 15px;
  word-wrap: break-word;
  width: 100%;
  transition: background-color 0.2s ease-out, box-shadow 0.5s ease-out;

  & > img {
    grid-area: photo;
    height: 86px;
    border-radius: 100%;
  }

  & > h2 {
    grid-area: name;
    margin: 0;
  }

  & > a {
    grid-area: email;
    margin: 0;
    &:hover {
      text-decoration: underline;
    }
  }

  & > p {
    grid-area: location;
    margin: 0;
  }

  &:hover {
    background-color: $hover-color;
    box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;
  }

  &:active {
    background-color: $click-color;
  }
}
