.wrapper {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;

  @include mq($break-sm) {
    margin-top: 30px;
  }

  @include mq($break-xl) {
    margin: 30px auto;
    width: 1050px;
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  @include mq($break-sm) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq($break-lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;

  @include mq($break-sm) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: red;

    & > #main-heading {
      margin-bottom: 20px;
      margin-right: auto;
    }

    & > #search-user {
      height: 30px;
    }
  }
}
