#modal {
  @include flex-center;
  display: none; // flex
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

$popup-button-padding: 10px; // distance from popup border to arrow button

.popup {
  @extend .card-style;
  position: fixed;
  z-index: 2;
  display: flex; // Flex
  padding: 20px;
  flex-direction: column;
  align-items: center;
  width: 300px;

  @include mq($break-sm) {
    width: 370px;
    padding: 25px;
  }

  & > img {
    border-radius: 100%;
  }

  & > hr {
    width: 100%;
    border: 1px solid $outline-color;
  }

  & > #close-overlay,
  & > #change-left,
  & > #change-right {
    @extend .popup-button;
  }

  & > #close-overlay {
    align-self: flex-end;
  }

  & > #change-left,
  & > #change-right {
    position: absolute;
    z-index: 3;
    top: 40%;
  }

  & > #change-left {
    left: $popup-button-padding;
  }

  & > #change-right {
    right: $popup-button-padding;
  }
}

